#quickorder_custom_form{
    display: none;
    padding-top: 30px;
}
.quickform {
    width: 80%;
    margin: 0 auto 15px;
    font-size: 16px;
}

.qo_input, .qo_textarea, .qo_time {
    border: 1px solid rgba(164, 164, 164, 0.57);
    padding: 10px 20px;
    background: none;
    outline: none;
}

.qo_checkbox {
    display: none;
}

.qo_checkbox:checked + .qo_label:before {
    content: "\f00c";
}

.qo_label:before {
    font-family: "FontAwesome";
    content: '';
    display: inline-block;
    border: 1px solid rgba(164, 164, 164, 0.57);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-color: #fff;
}

.qo_time {
    padding-right: 0;
    width: 105px;
    margin-right: 25px;
}

.qo_input, .qo_textarea, .time {
    margin-bottom: 15px;
    width: 100%;
}

.time {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.qo_input, .qo_textarea, .qo_label, .qo_time {
    color: #a4a4a4;
    font-family: 'robotolight';
    font-size: 1.125em;
}

.qo_label {
    padding-left: 33px;
    position: relative;
    display: inline-block;
}

.qo_textarea {
    height: 80px;
    resize: none;
}

.qo_input::-webkit-input-placeholder, .qo_textarea::-webkit-input-placeholder {
    color: #a4a4a4;
    font-family: 'robotolight';
    font-size: 1.125em;
    line-height: 1.125em;
}

.qo_input::-moz-placeholder, .qo_textarea::-moz-placeholder {
    color: #a4a4a4;
    font-family: 'robotolight';
    font-size: 1.125em;
    line-height: 1.125em;
}

.qo_input:-moz-placeholder, .qo_textarea:-moz-placeholder {
    color: #a4a4a4;
    font-family: 'robotolight';
    font-size: 1.125em;
    line-height: 1.125em;
}

.qo_input:-ms-input-placeholder, .qo_textarea:-ms-input-placeholder {
    color: #a4a4a4;
    font-family: 'robotolight';
    font-size: 1.125em;
    line-height: 1.125em;
}